#loadingide {
    background-image: url(images/loading.png)!important;
        background-size: 896px 498px!important;
            background-color: transparent!important;
}

#loadingide .footer {
    display:none!important;
}

body {
     background: url(images/loading_back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}